<!DOCTYPE html>
<html>
  <head>
    <title>BarbBank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container">
        <a class="navbar-brand" href=#>
          BarbBank
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href=#>Home page</a>
            {% if user.is_authenticated %}
              <a class="nav-link" href={% url "logoutaccount" %}>
                Logout ({{ user.username }})
              </a>
            {% else %}
              <a class="nav-link" href={% url "loginaccount" %}>
                Login
              </a>
              <a class="nav-link" href={% url "signupaccount" %}>
                Sign Up
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="container text-center"></div>
        {% if user.is_authenticated %}
            <h1>Welcome {{ user.username }}</h1>
        {% else %}
            <h1>Welcome in BarbBank</h1>
        {% endif %}
      {% block content %}
      {% endblock content %}
    </div>

    <footer class="text-center text-lg-start bg-light text-muted mt-4">
      <div class="text-center p-4">
        © Copyright - Barbara Kowalska
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
          crossorigin="anonymous"></script>
  </body>
</html>